body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.row{
    display:flex;
}

.column{
    flex:1;
}

.centered-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.report-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

@keyframes glitch {
    0% {transform: translate(0px, 0px) skew(0deg);}
    20% {transform: translate(-2px, 0px) skew(-1deg);}
    40% {transform: translate(2px, 0px) skew(1deg);}
    60% {transform: translate(-1px, 0px) skew(0deg);}
    80% {transform: translate(1px, 0px) skew(-1deg);}
    100% {transform: translate(0px, 0px) skew(0deg);}
}
p{
    color: rgb(200, 255, 0);
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

h1{
    color: rgb(200, 255, 0);
    font-size: 30px;
    margin: 5px;
    text-align: center;
}

h2{
    color: rgb(200, 255, 0);
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

h3{
    color: rgb(200, 255, 0);
    font-size: 20px;
    margin: 5px;
    text-align: center;
}
a{
    color: rgb(115, 255, 0);
}