@keyframes slideFadeIn{
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



body{
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(40, 55, 88), rgb(70, 13, 75));
    color: white;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}

.content{
    display: flex;
}

.column1, .column2{
    opacity: 0;
    transform: translateY(100%);
    animation: slideFadeIn 2s ease forwards;
}

.column1{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
    text-align: center;    
    background: rgb(0,0,0,0.35);
    border-radius: 10px;
    animation-delay: 0s;
}
.column2{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 70%;
    text-align: center; 
    background: rgb(0,0,0,0.35);
    border-radius: 10px;
    animation-delay: 0.5s;
}
.subcolumn2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}